[submodule "Graphics/GLwrap/glfw"]
	path = Graphics/GLwrap/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Graphics/3rdparty/glm"]
	path = Graphics/3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Graphics/3rdparty/assimp"]
	path = Graphics/3rdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Graphics/3rdparty/stb"]
	path = Graphics/3rdparty/stb
	url = https://github.com/nothings/stb.git
