[submodule "Graphics/GLwrap/glfw"]
	path = Graphics/GLwrap/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Graphics/3rdparty/glm"]
	path = Graphics/3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Graphics/3rdparty/stb"]
	path = Graphics/3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "Graphics/3rdparty/tinygltf"]
	path = Graphics/3rdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Graphics/GLwrap/magic_enum"]
	path = Graphics/GLwrap/magic_enum
	url = https://github.com/Neargye/magic_enum.git
