[submodule ".\\Graphics\\GLwrap\\glfw"]
	path = .\\Graphics\\GLwrap\\glfw
	url = https://github.com/glfw/glfw.git
[submodule ".\\Graphics\\3rdparty\\glm"]
	path = .\\Graphics\\3rdparty\\glm
	url = https://github.com/g-truc/glm.git
